* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;

    padding: 1rem;

    border-bottom: 1px solid rgb(200, 200, 200);
}

#menu-left, #menu-right {
    display: flex;
    flex-direction: row;

    gap: 1rem;

    list-style: none;

    padding: 0;
    margin: 0;
}

#menu-left {
    flex: 1;
}

.link {
    color: black;
    text-decoration: none;

    transition: color 0.25s;
}
.link:hover {
    color: dodgerblue;
}

main {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: 1rem;

    background-color: rgb(240, 240, 240);
}

footer {
    display: flex;

    align-items: center;
    justify-content: center;

    border-top: 1px solid rgb(200, 200, 200);

    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;

    gap: 0.25rem;
}

.warning {
    font-style: bold;

    color: white;
    background-color: orange;

    border: 1px solid rgb(218, 141, 0);
    border-radius: 5px;

    padding: 0.5rem;
}
.error {
    font-style: bold;

    color: white;
    background-color: red;

    border: 1px solid rgb(214, 0, 0);
    border-radius: 5px;

    padding: 0.5rem;

    opacity: 0;

    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

input {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;

    padding: 0.5rem;
}

button {
    border: 0;
    border-radius: 5px;

    color: white;
    background-color: dodgerblue;

    padding: 0.5rem;

    transition: filter 0.25s;
}
button:hover {
    filter: brightness(120%);
}
button:active {
    filter: unset;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}